.city-name {
  display: flex;
  justify-content: center;
  
  h1 {
    display: inline-block;
    background-color: rgb(24, 24, 24);
    color: white;
    border-top: none;
    padding: 5px 15px;
    font-size: 2.8em;
    text-align: center;
  }
}