@keyframes summary-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.summary-fade-in {
  opacity: 0;
  animation: summary-fade-in 0.5s 3s forwards;
}

.city-summary {
  padding: 10px 20px;
  margin-top: 30px;
  font-family: 'PT Serif', serif;
  font-size: 1.25em;
  z-index: -1;

  p {
    margin-bottom: 0;

    a {
      margin-left: 10px;
    }
  }
}