.city-name {
  display: absolute;
  top: 0;
  width: calc(100% - 70px);
  margin: 0 auto;
  text-align: center;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
      background-color: rgb(24, 24, 24);
      color: white;
      border-top: none;
      padding: 5px 15px;
      font-size: 2.8em;
      text-align: center;
      height: 70px;
      display: flex;
      align-items: center;
      margin: 0;
      font-family: 'PT Serif', serif;
      font-weight: 400;
    }
  
    .border {
      height: 7px;
      width: 100%;
      background-color: rgb(24, 24, 24);
      position: absolute;
      z-index: -1;
    }
  }
}